.media-query-status
  %span.mobile-pt Mobile
  %span.mobile-ls Mobile Landscape and up
  %span.tablet-pt Tablet Portrait and up
  %span.tablet-ls Tablet Landscape and up
  %span.tablet-ex Tablet Extra and up
  %span.desktop Desktop and up