%dl.sidebar-menu
  %dt#item-overview Overview
  %dt#item-design Design
  %dd.content-design 
    = link_to 'Color Scheme', '/sections/design/color-scheme.html'
    = link_to 'Typography', '/sections/design/typography.html'
