---
title: Home page
---
%main{id: "site-content"}
  #navbar
    navbar
  .hero
    #hero__background.video__cover
      %video{:autoplay => "", :loop => "", :poster => "../video-cover/Snapshots/Slow-Traffic.jpg"}
        %source{:src => "../video-cover/9607250.mp4", :type => "video/mp4"}
        %source{:src => "../video-cover/OGV/Slow-Traffic.ogv", :type => "video/ogv"}
        %source{:src => "../video-cover/WEBM/Slow-Traffic.webm", :type => "video/webm"}
    .hero__content
      .hero__va
        .hero__ma
          .magic-wrapper
            .hero__text.video__cover
              %h1 Descubre cuánto puedes ahorrar en tus facturas del hogar
              %h2 Compara seguros de coche, tarifas de móvil, cuentas, hipotecas, préstamos y mucho más.
            .hero__cta.video__cover
              %a.btn.btn-cta.btn-normal Compara Ahora
  #launchpad
    %ul.magic-wrapper
      %li.launchpad-item
        %a.hero-switch{"data-item" => "prestamos", :href => "#"}
          %i.kg-coin-receive
          %span.launchpad-text Prestamos
      %li.launchpad-item
        %a.hero-switch{"data-item" => "hipotecas", :href => "#"}
          %i.kg-house-price
          %span.launchpad-text Hipotecas
      %li.launchpad-item
        %a.hero-switch{"data-item" => "cuentas", :href => "#"}
          %i.kg-piggy-bank
          %span.launchpad-text Cuentas Bancarias
      %li.launchpad-item
        %a.hero-switch{"data-item" => "seguros", :href => "#"}
          %i.kg-car
          %span.launchpad-text Seguros de coche
      %li.launchpad-item
        %a.hero-switch{"data-item" => "internet", :href => "#"}
          %i.kg-wifi-modem-2
          %span.launchpad-text Internet
      %li.launchpad-item
        %a.hero-switch{"data-item" => "electricidad", :href => "#"}
          %i.kg-lightbulb-4
          %span.launchpad-text Electricidad
  .section__container.how-it-works-bg
    .how-it-works.magic-wrapper
      %h2.section-title Como funciona nuestro comparador
      .illustration
        %img{:src => "../images/how-it-works.png"}/
      .how-it-works-txt
        %h3 Con un solo formulario, obtén tu comparativa personalizada
        %p Kelisto.es es mucho más que un comparador. Compara precios de productos de seguros, finanzas, comunicaciones y energía. Ahorra en tus facturas del hogar con Kelisto.
  .section__container.logos-bg
    .logos.magic-wrapper
      %h2.section-title Comparamos precios de más de 60 compañías
  .section__container.kelisto-videos-bg
    .kelisto-videos.magic-wrapper
      %h2.section-title Los videos de kelisto.es
      .video-box
        .video-container
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/HPsuCbDwMvc?rel=0&controls=0&showinfo=0", :width => "560"}
      .video-box-text
        %p Te damos todas las claves para que ahorres en tus facturas y trucos para que consigas los mejores servicios al mejor precio, y examinamos los productos más atractivos del mercado.
        .video-list-box 
          %h4.video-list-title Últimos videos
          %ul.video-list
            %li.video-list-item
              %i.kg-play-button-2
              %a{:href => "#{}"} Cómo ahorrar 5.000 euros en tus facturas del hogar
            %li.video-list-item
              %i.kg-play-button-2
              %a{:href => "#{}"} Cambiar de compañía electrica con Kelisto.es
            %li.video-list-item
              %a{:href => "#{}", :class => "video-list-see-all"} 
                Ver todos 
  .section__container.links-list-bg
    .links-list-container.magic-wrapper 
      .links-list-module.best-buy-articles
        %h4.links-list-title Mejores compras
        %ul.link-list
          %li.link-list-item
            .position
              %span 1
            .detail
              %a#tracked_item_1467121429782.trackme{"data-event" => "Click Content Link", "data-extra-props" => "{\"location\":\"Mejor compra\",\"position\":1}", :href => "/cuentas-bancarias/mejor-compra/las-mejores-cuentas-nomina-2840"}
                Las mejores cuentas nómina
          %li
            .position
              %span 2
            .detail
              %a#tracked_item_1467121430004.trackme{"data-event" => "Click Content Link", "data-extra-props" => "{\"location\":\"Mejor compra\",\"position\":2}", :href => "/cuentas-bancarias/mejor-compra/las-mejores-cuentas-corrientes-sin-nomina-2756"}
                Las mejores cuentas corrientes sin nómina
          %li
            .position
              %span 3
            .detail
              %a#tracked_item_1467121429811.trackme{"data-event" => "Click Content Link", "data-extra-props" => "{\"location\":\"Mejor compra\",\"position\":3}", :href => "/cuentas-bancarias/mejor-compra/las-mejores-cuentas-ahorro-2851"}
                Las mejores cuentas remuneradas
          %li
            .position
              %span 4
            .detail
              %a#tracked_item_1467121430008.trackme{"data-event" => "Click Content Link", "data-extra-props" => "{\"location\":\"Mejor compra\",\"position\":4}", :href => "/hipotecas/mejor-compra/las-mejores-hipotecas-variables-2894"}
                Las mejores hipotecas
          %li
            .position
              %span 5
            .detail
              %a#tracked_item_1467121429613.trackme{"data-event" => "Click Content Link", "data-extra-props" => "{\"location\":\"Mejor compra\",\"position\":5}", :href => "/prestamos/mejor-compra/los-mejores-prestamos-personales-3487"}
                Los mejores préstamos personales
      .links-list-module.most-viewed-articles
        %h4.links-list-title 10 artículos más vistos
        %ul.link-list
          %li.link-list-item
            .position
              %span 1
            .detail
              %a#tracked_item_1467121429782.trackme{"data-event" => "Click Content Link", "data-extra-props" => "{\"location\":\"Mejor compra\",\"position\":1}", :href => "/cuentas-bancarias/mejor-compra/las-mejores-cuentas-nomina-2840"}
                Las mejores cuentas nómina
          %li
            .position
              %span 2
            .detail
              %a#tracked_item_1467121430004.trackme{"data-event" => "Click Content Link", "data-extra-props" => "{\"location\":\"Mejor compra\",\"position\":2}", :href => "/cuentas-bancarias/mejor-compra/las-mejores-cuentas-corrientes-sin-nomina-2756"}
                Las mejores cuentas corrientes sin nómina
          %li
            .position
              %span 3
            .detail
              %a#tracked_item_1467121429811.trackme{"data-event" => "Click Content Link", "data-extra-props" => "{\"location\":\"Mejor compra\",\"position\":3}", :href => "/cuentas-bancarias/mejor-compra/las-mejores-cuentas-ahorro-2851"}
                Las mejores cuentas remuneradas
          %li
            .position
              %span 4
            .detail
              %a#tracked_item_1467121430008.trackme{"data-event" => "Click Content Link", "data-extra-props" => "{\"location\":\"Mejor compra\",\"position\":4}", :href => "/hipotecas/mejor-compra/las-mejores-hipotecas-variables-2894"}
                Las mejores hipotecas
          %li
            .position
              %span 5
            .detail
              %a#tracked_item_1467121429613.trackme{"data-event" => "Click Content Link", "data-extra-props" => "{\"location\":\"Mejor compra\",\"position\":5}", :href => "/prestamos/mejor-compra/los-mejores-prestamos-personales-3487"}
                Los mejores préstamos personales        
      .links-list-module.dynamic-reviews
        %h4.links-list-title Ofertas destacadas
        %ul.link-list
          %li.link-list-item
            .position
              %span 1
            .detail
              %a#tracked_item_1467121429782.trackme{"data-event" => "Click Content Link", "data-extra-props" => "{\"location\":\"Mejor compra\",\"position\":1}", :href => "/cuentas-bancarias/mejor-compra/las-mejores-cuentas-nomina-2840"}
                Las mejores cuentas nómina
          %li
            .position
              %span 2
            .detail
              %a#tracked_item_1467121430004.trackme{"data-event" => "Click Content Link", "data-extra-props" => "{\"location\":\"Mejor compra\",\"position\":2}", :href => "/cuentas-bancarias/mejor-compra/las-mejores-cuentas-corrientes-sin-nomina-2756"}
                Las mejores cuentas corrientes sin nómina
          %li
            .position
              %span 3
            .detail
              %a#tracked_item_1467121429811.trackme{"data-event" => "Click Content Link", "data-extra-props" => "{\"location\":\"Mejor compra\",\"position\":3}", :href => "/cuentas-bancarias/mejor-compra/las-mejores-cuentas-ahorro-2851"}
                Las mejores cuentas remuneradas
          %li
            .position
              %span 4
            .detail
              %a#tracked_item_1467121430008.trackme{"data-event" => "Click Content Link", "data-extra-props" => "{\"location\":\"Mejor compra\",\"position\":4}", :href => "/hipotecas/mejor-compra/las-mejores-hipotecas-variables-2894"}
                Las mejores hipotecas
          %li
            .position
              %span 5
            .detail
              %a#tracked_item_1467121429613.trackme{"data-event" => "Click Content Link", "data-extra-props" => "{\"location\":\"Mejor compra\",\"position\":5}", :href => "/prestamos/mejor-compra/los-mejores-prestamos-personales-3487"}
                Los mejores préstamos personales   
      .links-list-module.dynamic-products
        %h4.links-list-title Productos más buscados
        %ul.link-list
          %li.link-list-item
            .position
              %span 1
            .detail
              %a#tracked_item_1467121429782.trackme{"data-event" => "Click Content Link", "data-extra-props" => "{\"location\":\"Mejor compra\",\"position\":1}", :href => "/cuentas-bancarias/mejor-compra/las-mejores-cuentas-nomina-2840"}
                Las mejores cuentas nómina
          %li
            .position
              %span 2
            .detail
              %a#tracked_item_1467121430004.trackme{"data-event" => "Click Content Link", "data-extra-props" => "{\"location\":\"Mejor compra\",\"position\":2}", :href => "/cuentas-bancarias/mejor-compra/las-mejores-cuentas-corrientes-sin-nomina-2756"}
                Las mejores cuentas corrientes sin nómina
          %li
            .position
              %span 3
            .detail
              %a#tracked_item_1467121429811.trackme{"data-event" => "Click Content Link", "data-extra-props" => "{\"location\":\"Mejor compra\",\"position\":3}", :href => "/cuentas-bancarias/mejor-compra/las-mejores-cuentas-ahorro-2851"}
                Las mejores cuentas remuneradas
          %li
            .position
              %span 4
            .detail
              %a#tracked_item_1467121430008.trackme{"data-event" => "Click Content Link", "data-extra-props" => "{\"location\":\"Mejor compra\",\"position\":4}", :href => "/hipotecas/mejor-compra/las-mejores-hipotecas-variables-2894"}
                Las mejores hipotecas
          %li
            .position
              %span 5
            .detail
              %a#tracked_item_1467121429613.trackme{"data-event" => "Click Content Link", "data-extra-props" => "{\"location\":\"Mejor compra\",\"position\":5}", :href => "/prestamos/mejor-compra/los-mejores-prestamos-personales-3487"}
                Los mejores préstamos personales

      
      