---
title: Home page
---
%main{id: "site-content"}
  .section__container.how-it-works-bg
    .how-it-works.magic-wrapper
      %h2.section-title Como funciona nuestro comparador
      .illustration
        %img{:src => "../images/how-it-works.png"}/
      .how-it-works-txt
        %h3 Con un solo formulario, obtén tu comparativa personalizada
        %p Kelisto.es es mucho más que un comparador. Compara precios de productos de seguros, finanzas, comunicaciones y energía. Ahorra en tus facturas del hogar con Kelisto.   
  .section__container.how-it-works-bg.odd
    .how-it-works.magic-wrapper
      %h2.section-title Como funciona nuestro comparador
      .illustration
        %img{:src => "../images/how-it-works.png"}/
      .how-it-works-txt
        %h3 Con un solo formulario, obtén tu comparativa personalizada
        %p Kelisto.es es mucho más que un comparador. Compara precios de productos de seguros, finanzas, comunicaciones y energía. Ahorra en tus facturas del hogar con Kelisto.   
      