---
title: Welcome to Kelisto
---
<div class="wrapper">
  <div id="navbar">navbar</div>
  <div id="hero-bg" class="car-insurance">
    <div id="hero-content" class="magic-wrapper">
      <div id="hero-text">
        <h1>Compara seguros de coche</h1>
        <h2>Elije tu seguro entre más de 25 compañías, contrata online y ahorra hasta un 65%</h2>
      </div>
    </div>
    <div class="main-cta magic-wrapper">
      <a class="btn btn-cta btn-normal"> Compara Ahora </a>
    </div>
  </div>
  <div id="launchpad">
    <ul class="magic-wrapper">
      <li class="launchpad-item">
        <a href="#" class="hero-switch" data-item="seguros">
          <i class="kg-coin-receive"></i> 
          Prestamos
        </a>
      </li>
      <li class="launchpad-item">
        <a href="#" class="hero-switch" data-item="hipotecas">
          <i class="kg-house-price"></i> 
          Hipotecas
        </a>
      </li>
      <li class="launchpad-item">
        <a href="#" class="hero-switch" data-item="cuentas">
          <i class="kg-piggy-bank"></i> 
          Cuentas Bancarias
        </a>
      </li>
      <li class="launchpad-item">
        <a href="#" class="hero-switch" data-item="seguros">
          <i class="kg-car"></i> 
          Seguros de coche
        </a>
      </li>
      <li class="launchpad-item">
        <a href="#" class="hero-switch" data-item="internet">
          <i class="kg-wifi-modem-2"></i> 
          Internet
        </a>
      </li>
      <li class="launchpad-item">
        <a href="#">
          <i class="kg-lightbulb-4"></i> 
          Electricidad
        </a>
      </li>
    </ul>
  </div>
  <div class="how-it-works-bg">
    <div class="how-it-works magic-wrapper">
      <h2 class="section-title">Como funciona nuestro comparador</h2>  
      <div class="illustration">
        <img src="images/how-it-works.png"/>
      </div>
      <div class="how-it-works-txt">
        <h3>Con un solo formulario, obtén tu comparativa personalizada</h3>
        <p>Kelisto.es es mucho más que un comparador. Compara precios de productos de seguros, finanzas, comunicaciones y energía. Ahorra en tus facturas del hogar con Kelisto.</p>
      </div>
    </div>
  </div>
</div><!-- .wrapper -->
