---
title: Color Scheme
---
%h1 Color Scheme
%h2 Basic Palette
%p 
  This is the Basic palette used for main block elements. Color names are based on Wikipedia conventions identified by 
  = link_to 'this algorithm', 'http://gauth.fr/2011/09/get-a-color-name-from-any-rgb-combination/'  

%ul.color-palette 
  %li.color-item
    .color-fill.patriarch
    .color-data
      %span.color-name Patriarch 
      %span.color-hex #800080
      %span.color-rgba rgba(128,0,128,1); 
  %li.color-item
    .color-fill.pastel-blue
    .color-data
      %span.color-name Pastel Blue
      %span.color-hex #B0C4DE
      %span.color-rgba rgba(176,196,222,1);       
  %li.color-item
    .color-fill.glitter
    .color-data
      %span.color-name Glitter
      %span.color-hex #E3ECFD
      %span.color-rgba rgba(227,236,253,1);       
  %li.color-item
    .color-fill.anti-flash-white
    .color-data
      %span.color-name Anti-flash White
      %span.color-hex #EEF2F8
      %span.color-rgba rgba(238,242,248,1);       

%h2 UI Colors
%p The main UI colors are used for links, action buttons, alert messages, and form elements. Input fields, for example, can get positive and negative feedback, whereas alert messages can have warning feedback.
%ul.color-palette
  %li.color-item
    .color-fill.forest-green
    .color-data
      %span.color-name Forest Green 
      %span.color-hex #1DAF1E
      %span.color-rgba rgba(29,175,30,1);       
  %li.color-item
    .color-fill.united-nations-blue
    .color-data
      %span.color-name United Nations 
      %span.color-hex #52A8F0
      %span.color-rgba rgba(82,168,240,1);             
  %li.color-item
    .color-fill.boston-university-red
    .color-data
      %span.color-name Boston University 
      %span.color-hex #C00000
      %span.color-rgba rgba(192,0,0,1);       
  %li.color-item
    .color-fill.orange
    .color-data
      %span.color-name Orange 
      %span.color-hex #FF7F00
      %span.color-rgba rgba(255,127,0,1);       
  %li.color-item
    .color-fill.amber
    .color-data
      %span.color-name Amber
      %span.color-hex #FFBF00
      %span.color-rgba rgba(255,191,0,1);    

%h2 Grey Colors
%p Grey colors are used for text, backgrounds, lines and borders.  
%ul.color-palette 
  %li.color-item
    .color-fill.cadet
    .color-data
      %span.color-name Cadet 
      %span.color-hex #47536B
      %span.color-rgba rgba(71,83,107,1); 
  %li.color-item
    .color-fill.cool-grey
    .color-data
      %span.color-name Cool Grey 
      %span.color-hex #8897AA
      %span.color-rgba rgba(136,151,170,1);       